@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

//Font
$font-p: 'Poppins', sans-serif;

//Colores Light Mode
$primary: #0A4A3C;
$accent: #F2B759;
$accent-light: rgba(242, 183, 89, 0.15);
$white: #FFF;
$gray: #3d6b60;
$gray-p: #d2d2d2;

//Colores Dark Mode
$black: #000;

//Tamaños de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;