@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

/* RESUME */
.resume-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: v.$black;

    /* INFO BASIC */
    .info-basic {
      grid-column: 1 / 4;

      h2 {
        &:nth-child(1) {
          color: v.$black;
          font-size: 2.5rem;
          font-weight: 600;
          @include m.desktop {
            font-size: 2rem;
          }
        }
        &:nth-child(2) {
          font-size: 2.5rem;
          font-weight: 700;
          @include m.desktop {
            font-size: 2rem;
          }
        }
      }
      p {
        font-size: 1.6rem;
        color: v.$gray;
        line-height: 1.6;
        @include m.desktop {
          font-size: 1.4rem;
        }
      }
    }
    
    /* Know */
    .know-cnt{
      grid-column: 1 / 4;
      grid-row: 2 / 5;
      display: flex;
      flex-direction: column;

      div {
        border: 1px solid v.$gray;
        border-radius: 8px;
        width: 100%;
        height: fit-content;
        margin: 10px 0;
        word-wrap: break-word;
        text-align: center;
        background: v.$white;
      }
      h3 {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 600;
        color: v.$black;
        background-color: v.$accent-light;
        padding: 1rem;
        @include m.tablet {
          font-size: 1.6rem;
        }
      }
      p {
        margin: 2rem;
        font-size: 1.6rem;
        @include m.tablet {
          font-size: 1.4rem;
        }
        &:nth-child(even) {
          color: v.$gray;
        }
      }

      i {
        font-size: 3rem;
        margin: 1rem;
        color: v.$primary;
        @include m.tablet {
          font-size: 2.5rem;
        }
      }

      .lang {
        font-size: 1.6rem;
        @include m.tablet {
          font-size: 1.4rem;
        }
        display: block;
        font-weight: 600;
        color: v.$black;
        span {
          font-weight: 400;
          color: v.$gray;
        }
      }
    }

    /* Experiencia */
    .exp-cnt {
      grid-column: 1 / 4;
      grid-row: 5 / 6;
    
      h2 {
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
        border-radius: 8px;
        background-color: v.$accent-light;
        color: v.$black;
        @include m.tablet {
          font-size: 1.8rem;
        }
      }
      section{
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        @include m.desktop {
          flex-direction: column;
        }
      }
      .card {
        border: 1px solid v.$gray;
        padding: 2rem;
        border-radius: 8px;
        background: v.$white;
        h3 {
          font-weight: 600;
          color: v.$black;
          span {
            font-weight: 400;
          }
        }
        img {
          width: 120px;
          height: 100px;
        }
        .desc-rol {
          height: 200px;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .expanded {
          height: auto;
          overflow: visible;
        }
        .btn-open-card {
          font-size: 3rem;
          color: v.$primary;
        }
      }
    }
    /* Education */
    .education {
      grid-column: 1 / 4;
      grid-row: 6 / 7;
      
      h2 {
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
        background-color: v.$accent-light;
        color: v.$black;
        @include m.tablet {
          font-size: 1.8rem;
        }
      }
      section{
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        @include m.desktop {
          flex-direction: column;
        }
      }
      .card {
        border-radius: 8px;
        padding: 1.5rem;
        border: 1px solid v.$gray;
        background: v.$white;
        p {
          &:nth-child(1) {
            font-size: 1.6rem;
            font-weight: 600;
            color: v.$black;
          }
          &:nth-child(2) {
            font-size: 1.5rem;
            font-weight: 400;
            color: v.$gray;
          }
        }
        a {
          color: v.$primary;
          font-weight: 600;
          text-decoration: none;
        }
      }
    }
    .fbasis {
      height: fit-content;
      margin: 10px;
    }
}